@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PPGoshaSans';
  src: url('/fonts/PPGoshaSans-Bold.otf') format('opentype'); /* Add the new font */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Gosha', Gosha;
  background-color: rgb(188, 188, 188);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p{
  font-family: 'Gosha';
}

h1, h2{
  font-family: 'Gosha';
}
